#projectsmobile h2 {
  text-align: center;
  padding-top: 40px;
}

.projectsmobile-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  overflow-x: auto;
  white-space: nowrap;
  gap: 20px;
  padding: 10px 30px 10px 30px;
}

.projectsmobile-container::-webkit-scrollbar {
  display: none;
}

.projectsmobile-card {
  flex: 0 0 auto;
  width: 200px;
  min-height: 150px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.projectsmobile-card:hover {
  transform: scale(1.05);
}

.projectsmobile-card h3 {
  font-size: 18px;
  font-weight: bold;
}

.projectsmobile-card p {
  font-size: 14px;
  color: #333;  
  line-height: 1.5em;
  height: 4.5em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.projectsmobile-link {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

.projectsmobile-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  #projectsmobile h2 {
    padding-top: 30px;
    font-size: 1.2rem;
  }

  .projectsmobile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto; 
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 10px 20px;
    scroll-padding-left: 200px;
    -webkit-overflow-scrolling: touch;
  }

  .projectsmobile-card {
    flex: 0 0 70%;
    min-width: 70%;
    padding: 15px;
    border-radius: 10px;
    scroll-snap-align: start;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }

  .projectsmobile-card h3 {
    font-size: 16px;
  }

  .projectsmobile-card p {
    font-size: 13px;
    height: auto;
    -webkit-line-clamp: 2;
  }
  
  .projects-container::-webkit-scrollbar {
    display: none; /* Hilangkan scrollbar */
  }
}
